- content_for :page_title do
  Nhập sản phẩm

= render :partial => 'spree/admin/shared/product_sub_menu'

%h5 Kết quả cuối cùng
%br

%div.post-save-results{ng: {app: 'ofn.admin'}}

  %p
    %i.fa{ng: {class: "{'fa-info-circle': #{@importer.products_created_count} == 0, 'fa-check-circle': #{@importer.products_created_count} != 0}"}}
    %strong.created-count= @importer.products_created_count
    Sản phẩm đã được tạo

  %p
    %i.fa{ng: {class: "{'fa-info-circle': #{@importer.products_updated_count} == 0, 'fa-check-circle': #{@importer.products_updated_count} != 0}"}}
    %strong.updated-count= @importer.products_updated_count
    Đã cập nhật sản phẩm

  - if @importer.products_reset_count > 0
    %p
      %i.fa.fa-check-circle
      %strong.reset-count= @importer.products_reset_count
      Sản phẩm đã đặt lại số lượng trong kho về 0

  %br

  - if @importer.errors.count == 0
    %p Tất cả #{@importer.total_saved_count} mặt hàng đã lưu thành công
  - else
    %h5 Lỗi
    - @importer.errors.full_messages.each do |error|
      %p.save-error
        &nbsp;-&nbsp; #{error}

  %br
  %a.button{href: main_app.admin_product_import_path} Trở lại
