#welcome_page.sixteen.columns.alpha
  %header
    %h1{style: "color: black;"}
      = t('.welcome_title')
    %p{style: "color: black;"}
      = t('.welcome_text')
      %strong{style: "color: black;"}
        = "#{"Hồ sơ nhà sản xuất " if @enterprise.is_primary_producer}"

    %section{style: "margin-top: 20px;"}
      %h2{style: "color: black;"}
        = t('.next_step')
      %p{style: "color: black;"}
        = t('.choose_starting_point')

  = render partial: "change_type_form"
